{% extends 'base.html' %}
{% block content %}



<div class="container h3 mt-3" hidden> <a href="{% url 'add_inst' %}"> add inst </a></div>

{% if user.is_authenticated %}
<div hidden>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#add-new-item" role="button" aria-expanded="false" aria-controls="collapseExample">
        Add Instrument
    </a>
</div>
{% endif %}

<div class="collapse" id="add-new-item">
    <div class="card card-body">
        <form method="get" action="{% url 'add_inst' %}">
            {{units}}
            <span> {{c}}</span>
            <span> {{t}}</span>
            
            <input type="submit" value="Submit">
        </form>
    </div>
</div>

<!-- list of recently added items -->
<div class="h4">Recently added</div>
<div>
    <ul>
        {% for i in added_items %}
        <li> <a href="{{i.get_absolute_url}}"> {{i.tag}} </a> </li> 
        {% endfor %}
    </ul>
</div>

{% endblock%}